.buttons {
    display: grid;
    background-color: hsl(180, 100%, 25%);
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .buttons {
        grid-template-columns: 1fr;
    }
}

.buttons:hover {
    background-color: hsl(180, 100%, 30%);
}

.buttons:active {
    background-color: hsl(180, 100%, 35%);
}

.buttons:disabled {
    color: gray;
    cursor: auto;
}