.button {
    background-color: #0f6363;
    color: white;
    font-size: 15px;
    padding: 10px;
    border: #0f6363; 
    transition: 0.3s;
}

.button:hover {
    background-color: #157e7e
}

.button:active {
    background-color: #1d9f9f;
}