.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    word-break: break-word;
}

.section {
    background: white;
    box-shadow: 0 0 5px #ddd;
    margin: 10px 0;
}

.section__header {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section__title {
    margin: 0;
}

@media (max-width: 767px) {
    .section__title {
        padding-bottom: 20px;
    }
}

.section__body {
    padding: 20px;
}

.section__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .section__buttons {
        flex-basis: 100%;
        justify-content: center;
        gap: 20px;
    }
}

.section__buttons:hover {
    color: hsl(180, 100%, 30%);
}

.section__buttons:active {
    color: hsl(180, 100%, 35%);
}

.section__buttons:disabled {
    color: gray;
    cursor: auto;
}