.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    word-break: break-word;
}

.section {
    background: white;
    box-shadow: 0 0 5px #ddd;
    margin: 10px 0;
}

.section__header {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 20px;
}