.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    color: white;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 5px #ddd;
    transition: 0.3s;
    height: 20px;
    width: 20px;
}

.tasks__button--toggleDone {
    background-color: hsl(103, 44%, 55%);
}

.tasks__button--toggleDone:hover {
    background-color: hsl(103, 44%, 60%);
}

.tasks__button--toggleDone:active {
    background-color: hsl(103, 44%, 65%);
}

.tasks__button--remove {
    background-color: hsl(344, 93%, 47%);
}

.tasks__button--remove:hover {
    background-color: hsl(344, 93%, 52%);
}

.tasks__button--remove:active {
    background-color: hsl(344, 93%, 57%);
}